%form#main_form.mtgox_chosen
  %label
    %input#btc_count(type="text" name="btc_count" value="1")
    BTC
  %span
    \=
  %input#result(type="text" name="result")
  %label#single_currency_label(for="result")
    USD
  %select#currency_chooser
    %option(value="USD") USD
    %option(value="EUR") EUR
    %option(value="GBP") GBP
    %option(value="CHF") CHF

%footer
  %label
    %input.source_chooser{:type=>'radio', :value=>'mtgox', :checked=>'checked', :name=>'source',
      :data => {:source_uri_mask =>'/mtgox/%s.json', :currency_filter => 'USD EUR GBP CHF'}}
    MtGox
  %label
    %input.source_chooser(type="radio" value="bitstamp" name="source" data-source-uri-mask='/bitstamp.json' data-currency-filter='USD')
    BitStamp
  %label
    %input.source_chooser(type="radio" value="btce" name="source" data-source-uri-mask='/btc_e/%s.json' data-currency-filter="USD EUR")
    BTC-E
